{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "safari >= 7", "not ie <= 8"],
          "node": "6.0.0"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "> 1%",
                "last 2 versions",
                "safari >= 7",
                "not ie <= 8"
              ],
              "node": "6.0.0"
            }
          }
        ]
      ]
    }
  }
}
